# Project Report
Group 60: Daniyal, Ruth, Thomas, Paul

## Title

### Introduction

### Methods & Results
Our analysis makes use of the `repr`, `tidyverse`, and `tidymodels` packages in R.

In [1]:
# Setup
library(repr)
library(tidyverse)
library(tidymodels)
options(repr.matrix.max.rows = 6)
options(repr.plot.width = 8, repr.plot.height = 7)
set.seed(9248)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.6     ✔ purrr   0.3.4
✔ tibble  3.1.7     ✔ dplyr   1.0.9
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

── Attaching packages ────────────────────────────────────── tidymodels 1.0.0 ──

✔ broom        1.0.0     ✔ rsample      1.0.0
✔ dials        1.0.0     ✔ tune         1.0.0
✔ infer        1.0.2     ✔ workflows    1.0.0
✔ modeldata    1.0.0     ✔ workflowsets 1.0.0
✔ parsnip      1.0.0     ✔ yardstick    1.0.0
✔ recipes      1.0.1

── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()
• Search for functions across packages at https://www.tidymodels.org/find/

In [2]:
# Obtaining and cleaning data
heart_raw <- read_delim("https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/new.data", col_names = FALSE, na = "-9")
heart_raw
heart_clean <- heart_raw |>
    separate(X7, c("X7", "X8"), sep = " ", convert = TRUE)
heart_clean
# This isn't even close to clean yet

Warning message:
“One or more parsing issues, see `problems()` for details”
Rows: 18492 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: " "
chr (2): X3, X7
dbl (5): X1, X2, X4, X5, X6

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

      X1  X2       X3     X4 X5  X6 X7
1       1 15943882 63     1   NA NA NA
2     -27        1 145    1  233 NA 50 20
3       1        0 1      2    2  3 1981 0
⋮     ⋮   ⋮        ⋮      ⋮  ⋮   ⋮  ⋮
18490  1   1       NA     NA NA  NA -9 -9
18491 NA  NA       NA     NA NA  NA -9 -9
18492 NA  NA       Takacs NA NA  NA

Warning message:
“Expected 2 pieces. Missing pieces filled with `NA` in 2303 rows [12, 24, 36, 48, 60, 72, 84, 96, 108, 120, 132, 144, 156, 168, 180, 192, 204, 216, 228, 240, ...].”

      X1  X2       X3     X4 X5  X6 X7   X8
1       1 15943882 63     1   NA NA   NA NA
2     -27        1 145    1  233 NA   50 20
3       1        0 1      2    2  3 1981  0
⋮     ⋮   ⋮        ⋮      ⋮  ⋮   ⋮  ⋮    ⋮
18490  1   1       NA     NA NA  NA -9   -9
18491 NA  NA       NA     NA NA  NA -9   -9
18492 NA  NA       Takacs NA NA  NA NA   NA

### Discussion

### References